@charset "UTF-8";

/* CSS reset */

* {
  outline-offset: 0;
  outline-width: 0;
  outline-style: solid;
  outline-color: invert;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 10px;
  scrollbar-color: var(--bs-primary-dark);
}

#targettooltip1 {
  border: 1px solid;
  width: 100px;
  height: 50px;
  margin-left: 50px;
  transform: rotate(270deg);
  margin-top: 100px;
}

nav, .navbar {
  z-index: 2;
}

/* Sar for M-Menu */
.m-menu-body:root {
  --clr: #222327;
  --transition-duration-text: 0.7s;
  --transition-duration-icon: 0.7s;
  --transition-duration-indicator: 0.7s;
  --lenght: 70px;
}

.m-menu-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 7rem;
  background: var(--clr);
}

.m-menu-body .navigation {
  position: relative;
  width: 400px;
  height: var(--lenght);
  background-color: #ffffff;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px;
  padding: 0;
}

.m-menu-body .navigation ul {
  display: flex;
  width: 350px;
  margin: 0 auto;
  padding: 0;
}

.m-menu-body .navigation ul li {
  position: relative;
  list-style-type: none;
  width: var(--lenght);
  height: var(--lenght);
  z-index: 1;
  margin: 0;
  padding: 0;
}

.m-menu-body .navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.m-menu-body .navigation ul li a .m-menu-icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: var(--transition-duration-icon) ease;
  color: var(--clr);
}
.m-menu-body .navigation ul li[active] a .m-menu-icon {
  transform: translateY(-32px);
}

.m-menu-body .navigation ul li a .m-menu-text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: var(--transition-duration-text) ease;
  opacity: 0;
  transform: translateY(50px);
}
.m-menu-body .navigation ul li[active] a .m-menu-text {
  opacity: 1;
  transform: translateY(8px);
}

.m-menu-body .m-menu-indicator {
  position: absolute;
  top: -35px;
  width: var(--lenght);
  height: var(--lenght);
  background-color: #00e62e;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: var(--transition-duration-indicator);
}
.m-menu-body .m-menu-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px -5px 0 1px var(--clr);
}
.m-menu-body .m-menu-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border-top-left-radius: 20px;
  box-shadow: -2px -5px 0px 1px var(--clr);
}

.m-menu-body .navigation ul li:nth-child(1)[active] ~ .m-menu-indicator {
  transform: translateX(calc(var(--lenght) * 0));
}

.m-menu-body .navigation ul li:nth-child(2)[active] ~ .m-menu-indicator {
  transform: translateX(calc(var(--lenght) * 1));
}

.m-menu-body .navigation ul li:nth-child(3)[active] ~ .m-menu-indicator {
  transform: translateX(calc(var(--lenght) * 2));
}

.m-menu-body .navigation ul li:nth-child(4)[active] ~ .m-menu-indicator {
  transform: translateX(calc(var(--lenght) * 3));
}

.m-menu-body .navigation ul li:nth-child(5)[active] ~ .m-menu-indicator {
  transform: translateX(calc(var(--lenght) * 4));
}

.m-menu-body .navigation ul li:nth-child(6)[active] ~ .m-menu-indicator {
  transform: translateX(calc(var(--lenght) * 5));
}

.m-menu-body .navigation ul li:nth-child(7)[active] ~ .m-menu-indicator {
  transform: translateX(calc(var(--lenght) * 6));
}
/* End of M-Menu */


section {
  padding: 60px 0;
}

.heading-center {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.heading {
  display: inline-block;
  text-align: start;
  width: 100%;
}

.heading-right {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.copy-btn {
  background-color: var(--bs-success);
  color: #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: var(--bs-success-dark);
}

.copy-btn:active {
  background-color: var(--bs-success);
  box-shadow: 0 0 20px var(--bs-success-dark);
}

.copy-btn:disabled {
  background-color: #f1f1f1d5;
  color: #333333;
  cursor: not-allowed;
}

.resize-x {
  resize: horizontal;
}

.resize-y {
  resize: vertical;
}

.resize-xy {
  resize: both;
}

.img-overflow-hidden {
  object-fit: cover;
}

.text-transparent {
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
}

.bg-grad-rtl {
  background-image: linear-gradient(to right, #3300ff, #ff0084);
}

.bg-grad-ttb {
  background-image: linear-gradient(to bottom, #3300ff, #ff0084);
}

.bg-grad-rb {
  background-color: linear-gradient(
    90deg,
    var(--bs-red),
    var(--bs-orange),
    var(--bs-yellow),
    var(--bs-green),
    var(--bs-blue),
    var(--bs-indigo),
    var(--bs-pink)
  );
}

.font-xxl {
  font-size: xx-large;
}

.fs-1 {
  font-size: 40px;
}

.fs-em {
  font-size: 2em;
}

.fw-100 {
  font-weight: 100;
}

.text-cut-1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-cut-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-cut-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-cut-4 {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-cut-5 {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.flexbox-ycont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox-xcont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scrollx-container {
  width: 40rem;
  height: auto;
  /* display: flex; */
  vertical-align: middle;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.scrollx-item {
  min-width: 40rem;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: var(--bs-purple);
  scroll-snap-align: center;
}

.scrolly-container {
  width: 40rem;
  height: 100%;
  /* display: flex; */
  align-items: center;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
}

.scrolly-item {
  min-height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: var(--bs-purple);
  scroll-snap-align: center;
}

.pos-move-intro {
  position: relative;
  vertical-align: baseline;
  top: -2em;
  right: -13.5em;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.flip-vertical {
  transform: scaleY(-1);
}

.posl-1 {
  position: relative;
  vertical-align: baseline;
  left: -0.25em;
}

.posl-2 {
  position: relative;
  vertical-align: baseline;
  left: -0.5em;
}

.posl-3 {
  position: relative;
  vertical-align: baseline;
  left: -1em;
}

.posl-4 {
  position: relative;
  vertical-align: baseline;
  left: -1.5em;
}

.posl-5 {
  position: relative;
  vertical-align: baseline;
  left: -3em;
}

.posr-1 {
  position: relative;
  vertical-align: baseline;
  right: -0.25em;
}

.posr-2 {
  position: relative;
  vertical-align: baseline;
  right: -0.5em;
}

.posr-3 {
  position: relative;
  vertical-align: baseline;
  right: -1em;
}

.posr-4 {
  position: relative;
  vertical-align: baseline;
  right: -1.5em;
}

.posr-5 {
  position: relative;
  vertical-align: baseline;
  right: -3em;
}

.post-1 {
  position: relative;
  vertical-align: baseline;
  top: -0.25em;
}

.post-2 {
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.post-3 {
  position: relative;
  vertical-align: baseline;
  top: -1em;
}

.post-4 {
  position: relative;
  vertical-align: baseline;
  top: -1.5em;
}

.post-5 {
  position: relative;
  vertical-align: baseline;
  top: -3em;
}

.posb-1 {
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}

.posb-2 {
  position: relative;
  vertical-align: baseline;
  bottom: -0.5em;
}

.posb-3 {
  position: relative;
  vertical-align: baseline;
  bottom: -1em;
}

.posb-4 {
  position: relative;
  vertical-align: baseline;
  bottom: -1.5em;
}

.posb-5 {
  position: relative;
  vertical-align: baseline;
  bottom: -3em;
}

.text-vertical-lr {
  writing-mode: vertical-lr;
}

.text-vertical-rl {
  writing-mode: vertical-rl;
}

.text-muted {
  color: var(--bs-gray-600);
  opacity: 0.8;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
}

.text-spacing-0 {
  word-spacing: 0rem;
}

.text-spacing-1 {
  word-spacing: 0.25rem;
}

.text-spacing-2 {
  word-spacing: 0.5rem;
}

.text-spacing-3 {
  word-spacing: 1rem;
}

.text-spacing-4 {
  word-spacing: 1.5rem;
}

.text-spacing-5 {
  word-spacing: 3rem;
}

.ls-normal {
  letter-spacing: normal;
}

.ls-1 {
  letter-spacing: 0.1rem;
}

.ls-2 {
  letter-spacing: 0.2rem;
}

.ls-3 {
  letter-spacing: 0.3rem;
}

.ls-4 {
  letter-spacing: 0.4rem;
}

.ls-5 {
  letter-spacing: 0.5rem;
}

.col-count-2 {
  column-count: 2;
}

.col-count-3 {
  column-count: 3;
}

.col-count-4 {
  column-count: 4;
}

.col-count-5 {
  column-count: 5;
}

.col-count-6 {
  column-count: 6;
}

.col-gap-1 {
  column-gap: 0.25rem;
}

.col-gap-2 {
  column-gap: 0.5rem;
}
.col-gap-3 {
  column-gap: 1rem;
}

.col-gap-4 {
  column-gap: 1.5rem;
}

.col-gap-5 {
  column-gap: 3rem;
}

.text-shadow-1 {
  text-shadow: 0.5px 0.5px 1px;
}

.text-shadow-2 {
  text-shadow: 1px 1px 1px;
}

.text-shadow-3 {
  text-shadow: 1.5px 1.5px 1px;
}

.text-shadow-4 {
  text-shadow: 2px 2px 1px;
}

.text-shadow-5 {
  text-shadow: 2.5px 2.5px 1px;
}

.text-glow-1 {
  text-shadow: 0px 0px 3px;
}

.text-glow-2 {
  text-shadow: 0px 0px 5px;
}

.text-glow-3 {
  text-shadow: 0px 0px 7px;
}

.text-glow-4 {
  text-shadow: 0px 0px 9px;
}

.text-glow-5 {
  text-shadow: 0px 0px 11px;
}

.item-shadow-5 {
  text-shadow: 2.5px 2.5px 1px;
}

.box-glow-1 {
  box-shadow: 0px 0px 3px 3px;
}

.box-glow-2 {
  box-shadow: 0px 0px 5px 5px;
}

.box-glow-3 {
  box-shadow: 0px 0px 10px 10px;
}

.box-glow-4 {
  box-shadow: 0px 0px 15px 15px;
}

.box-glow-5 {
  box-shadow: 0px 0px 20px 20px;
}

.rotate-180 {
  transform: rotate(-180deg);
}

.rotate-90 {
  transform: rotate(-90deg);
}

.rotate-270 {
  transform: rotate(-270deg);
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
