.overlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: auto;
  visibility: visible;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
}
