.nav {
  background-color: #3b3b3b;
  padding: 0px;
  margin: 0px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item {
  text-align: center;
  display: inline-block;
  margin: 0 0px;
}

.nav-link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffda5f;
}