.nav {
  background: linear-gradient(to bottom, #00000000, #947a2b); /*Gradient Transparency*/  
  height: fit-content;
  border-bottom-right-radius: 20px; /*Rounded Edge - Adjust as needed*/  
  border-bottom-left-radius: 20px; /*Rounded Edge - Adjust as needed*/  
  padding: 0 20px; /* Adjust padding as needed*/  
}

.nav-list { 
  padding: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none; 
  justify-content: space-around;  /* Adjust spacing as needed*/  
  align-items: center;  
  height: 100%; /*Make sure items are vertically centered*/  
}

.nav-link {
  font-size: 1rem;
  text-decoration: none;  
  color: #292929; /* Light gray or off-white text color*/  
  font-weight: bold;  
  padding: 10px 20px;
  transition: transform 0.2s ease; 
}

.nav-link:hover {
  color: #b89533;
  transform: scale(1.05);
}