.nav {
  background-color: aquamarine;
  padding: 0px;
  margin: 0px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 10px;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-item {
  text-align: center;
  display: inline-block;
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
}