.login-form {
  height: fit-content;
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
  background-color: #f5f5f5; /* Light gray background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* Limit maximum width */
  margin: 0 auto; /* Center the form horizontally */
}

.login-form h2 {
  margin-bottom: 20px;
}
