body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch; */
}

body::selection {
  background-color: #333;
  color: #f7f7f7;
  text-shadow: none;
}
/* .overlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: auto;
  visibility: visible;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
} */
