.ISE {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  width: fit-content;
}

.ISE .divider {
  margin: 20px;
  width: 100%;
  height: fit-content;
  border: 0.5px solid #000000;
  border-bottom: 3px solid #000000;
  border-right: 3px solid #000000;
  /* border-radius: 20px; */
  background-color: #1564b3;
  background-image: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
}

.ISE h1 {
  height: 55px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
  margin:auto;
  font-size:40px;
  font-weight:bold;
}

.ISE .text-muted {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}